<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>Dashboard</title>
</head>

<body>
    <div class="sidebar">
        <div class="greet">
            <h2>Good Morning!</h2>
        </div>
        <div class="doctor">
            <h1>Doc. Ryan!</h1>
        </div>
        <br />
        <ul>
            <a href="{% url 'dashboard' %}"><li><img src="{% static 'Photos/dashboard.png'%}" alt="Dashboard" />Dashboard</li></a>
            <a href="{% url 'allpatients' %}"><li><img src="{% static 'Photos/patients.png'%}" alt="Patients" />Patients</li></a>
            <a href="{% url 'collaborators' %}"><li><img src="{% static 'Photos/collab.png'%}" alt="Collaborators" />Collaborator</li></a>
            <a href="{% url 'ongoing' %}"><li><img src="{% static 'Photos/stat.png'%}" alt="On Going Patient" />On Going Patient</li></a>
        </ul>
    </div>

    <div class="con">
        <div class="header">
            <div class="head">
                <h2>Dapper Animal Patient Monitoring System</h2>
            </div>
            <div class="settings">
                <button onclick="admin ()"><img src="{% static 'Photos/Settings.png'%}" alt="Settings Icon" /></button>
                <script>
                    function admin() {
                        window.location.href = "{% url 'settings' %}";
                    }
                </script>
            </div>
        </div>
    </div>


    <div class="dash">
        <div class="container">
            <div class="content">
                <div class="cards">
                    <a href="">
                    <div class="card">
                        <div class="box">
                            <h1>23</h1>
                            <h3>New Patients</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{% static 'Photos/new.png'%}" />
                        </div>
                    </div>
                    </a>
                    <a href="">
                    <div class="card">
                        <div class="box">
                            <h1>43</h1>
                            <h3>Monthly Patients</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{% static 'Photos/patients.png'%}" />
                        </div>
                    </div>
                    </a>
                    <a href="{% url 'collaborators' %}">
                    <div class="card">
                        <div class="box">
                            <h1>3</h1>
                            <h3>Collaborators</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{% static 'Photos/collab.png'%}" />
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>