<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
	
	<title> Login </title>
	</head>
    <script>
        var attempt = 3; // Variable to count the number of attempts.
    
        // Below function Executes on click of the login button.
        function validate() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
    
            if (username == "admin" && password == "admin") {
                alert("Login successfully");
                window.location = "AllPatients.html"; // Redirecting to Admin page.
                return false;
            }
    
            if (username == "User" && password == "User") {
                alert("Login successfully");
                window.location = "AllPatients.html"; // Redirecting to User page.
                return false;
            } else {
                attempt--; // Decrementing by one.
                alert("You have left " + attempt + " attempt;");
    
                // Disabling fields after 3 attempts.
                if (attempt == 0) {
                    document.getElementById("username").disabled = true;
                    document.getElementById("password").disabled = true;
                    document.getElementById("submit").disabled = true;
                    return false;
                }
            }
        }
    </script>
<body>

       
</body>

</html>